:root {
	--main-color: #d60606;
	--second-color: #45c46d;
	--third-color: #9fac9e;
	--fourth-color: #f1fff0c2;
	--five-color: #baf7ba;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font-family: sans-serif; */
}

body {
	margin: auto;
	box-sizing: border-box;
	background-color: #f1fff0c2;
}

header {
	width: 99%;
	margin: auto;
	background-image: url("images/TopographieCarriere.png");
	height: 40vh;
	border-radius: 0 0 20px 20px;
	position: relative;
	top: 50px;
}

header h1 {
	text-align: center;
	font-size: 35px;
	position: relative;
	top: -80px;
	margin: 60px;
	text-shadow: #9fac9e 2px 2px 2px;
}

header h1 span {
	color: var(--main-color);
}

header img {
	width: 100%;
	height: 100vh;
	display: block;
	margin: auto;
	opacity: 0.3;
}

main {
	width: 60%;
	margin: auto;
}

main h2,
h4,
h5 {
	font-size: 25px;
	color: var(--main-color);
	text-decoration: underline 3px;
	margin-top: 80px;
}

main h5 {
	display: flex;
	justify-content: center;
}

main h1.gallerie {
	color: var(--main-color);
	text-align: center;
}

main .presentationAsso {
	width: 100%;
	text-align: center;
}

main p {
	width: 80%;
	font-weight: bolder;
	line-height: 1.6;
}

main mark {
	background-color: var(--five-color);
	color: red;
	padding: 5px;
}

main .membresAsso {
	line-height: 2;
	font-weight: bolder;
}

main .photosCarrieres img {
	width: 60%;
	display: flex;
	padding: 20px;
	margin: auto;
}

#carousel {
	height: 515px;
	margin: auto;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}

#carousel div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	transition: left 1s;
}

#carousel div img {
	width: 100%;
	height: 90%;
	object-fit: contain;
}

#carousel div.active {
	left: 0;
}

#carousel div {
	display: none;
}

#carousel div.active {
	display: block;
}

figure {
	width: 90%;
	height: 80%;
	margin: auto;
}

figcaption {
	display: flex;
	font-weight: bold;
	position: relative;
	justify-content: center;
	top: 20px;
}

.controls {
	width: 70%;
	position: relative;
	top: -63px;
	margin: auto;
}

button {
	width: 30%;
	background-color: #e8eee8;
	font-size: 17px;
	color: #960505;
	margin: auto;
	cursor: pointer;
}

main .photosCarrieres a {
	color: #960505;
	display: flex;
	justify-content: center;
}

main .photosCarrieresSouterraines {
	width: 100%;
	display: flex;
}

nav.navAccueil a {
	font-size: 17px;
	display: flex;
	justify-content: center;
	font-weight: bold;
	color: #0d0daf;
	position: relative;
	top: 30px;
}

nav.navGallerie a {
	display: block;
	color: #0d0daf;
	padding: 30px;
}

footer {
	height: 100px;
	padding-top: 60px;
	text-align: center;
}

footer mark {
	font-weight: bolder;
	background-color: #f1fff0;
}

footer span {
	color: var(--main-color);
	font-weight: bolder;
}

section.contact {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 10px;
}


#lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
}

.lightbox-content {
	position: relative;
	max-width: 90%;
	max-height: 90%;
}

.lightbox-img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.prev,
.next {
	position: absolute;
	transform: translateY(-50%);
	border: black 1px solid;
	font-size: 17px;
	cursor: pointer;
	padding: 5px;
}

.next:hover,
.prev:hover {
	background-color: #fff;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

/********************************* Media Queries *********************************/

@media screen and (min-width: 360px) and (max-width: 768px) {
	body {
		width: 100%;
	}

	header {
		height: 20vh;
		top: 0;
	}

	header h1 {
		font-size: 26px;
		border-radius: 0;
		top: 0;
	}

	main h4,
	h5 {
		margin-top: 35px;
		font-size: 20px;
	}

	main h2 {
		font-size: 25px;
	}

	p {
		width: 95%;
	}

	header img {
		width: 100%;
	}

	nav.navAccueil a {
		font-size: 15px;
	}

	main .photosCarrieresSouterraines {
		display: block;
		width: 100%;
	}

	main .photosCarrieres img {
		width: 100%;
		margin: auto;
	}

	.controls {
		width: 99%;
	}

	#carousel {
		height: 300px;
	}

	figure {
		margin: auto;
		height: 65%;
	}

	figcaption {
		width: 90%;
		font-size: 14px;
	}

	button {
		width: 40%;
		margin: 0;
		position: relative;
		top: 15px;
	}

	.next,
	.prev {
		font-size: 15px;
		padding: 5px;
	}

	footer {
		width: 80%;
		margin: auto;
	}
}


@media screen and (min-width: 260px) and (max-width: 359px) {
	main p {
		width: 0%;
		margin: auto;
	}

	header {
		background-image: none;
		height: 20vh;
		top: 0;
	}

	header h1 {
		font-size: 26px;
		border-radius: 0;
		top: 0;
	}
}